body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;;
    color: #fff;
    padding: 1px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
  padding: 10px;
  display: inline;
  align-items: center;
}

#nxtpage{
    position: fixed;
    top: 12px;
    right: 20px;
}

nav{
    display: flex;
    align-items: center;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px ;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #27ae60;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    font-stretch: expanded;
}

a{
    text-decoration: none;
}

#success{
    visibility: hidden;
}

#form-container{
    width: 30vw;
    margin: auto;
}

#form-container h1{
    text-align:center;
    margin-left: 0px;
    padding-left: 0px;
}

#btns{
    width: fit-content;
    margin: auto;
}

#backend-messages{
    width: 15vw;
    margin: auto;
}

#table-container h2{
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
}